In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [33]:
import pandas as pd
import numpy as np

def load_and_process_data(data1, data2, data3, data4, common_key, target_column):
    """Charge, fusionne et nettoie les fichiers CSV."""
    caract = pd.read_csv(data1, sep=";", low_memory=False)
    lieux = pd.read_csv(data2, sep=";", low_memory=False)
    usagers = pd.read_csv(data3, sep=";", low_memory=False)
    vehicules = pd.read_csv(data4, sep=";", low_memory=False)
    
    merged_df = caract.merge(lieux, on=common_key, how="inner") \
                      .merge(usagers, on=common_key, how="inner") \
                      .merge(vehicules, on=common_key, how="inner")
    
    print(f"Colonnes disponibles après fusion : {merged_df.columns.tolist()}")

    merged_df = merged_df.dropna(axis=1, how='all')
    merged_df = merged_df.loc[:, merged_df.nunique() > 1]
    
    y = merged_df[target_column]
    X = merged_df.drop(columns=[target_column, common_key])
    return X, y

def correlation_matrix(X, y):
    """Calcule la corrélation entre chaque colonne numérique et la cible."""
    correlations = {}
    for col in X.columns:
        if X[col].dtype != 'object':
            corr = np.corrcoef(X[col], y)[0, 1]  # Corrélation Pearson
            correlations[col] = corr
    sorted_corr = sorted(correlations.items(), key=lambda x: abs(x[1]), reverse=True)
    return sorted_corr

def categorical_analysis(X, y):
    """Analyse l'impact des variables catégorielles sur la cible."""
    X_with_target = X.copy()
    X_with_target['target'] = y

    category_means = {}
    for col in X.columns:
        if X[col].dtype == 'object':
            category_means[col] = X_with_target.groupby(col)['target'].mean()
    return category_means

def low_variance_filter(X, threshold=0.01):
    """Supprime les colonnes numériques avec une variance inférieure à un seuil."""
    X_numeric = X.select_dtypes(include=[np.number])
    variances = X_numeric.var()
    important_columns = variances[variances > threshold].index    
    return X[important_columns]

def auto_handle_nan(df, nan_threshold_delete=0.5, nan_threshold_impute=0.1):
    """
    Traite automatiquement les valeurs NaN dans un dataset.
    - Supprime les colonnes avec trop de NaN.
    - Impute (remplace) les NaN avec des stratégies adaptées :
      - Moyenne pour colonnes numériques.
      - Mode ou "Inconnu" pour colonnes catégorielles.
    """
    print("Analyse des NaN dans le dataset...\n")
    
    nan_percent = df.isnull().mean()
    print("Pourcentage de valeurs manquantes par colonne :")
    print(nan_percent)
    
    cols_to_delete = nan_percent[nan_percent > nan_threshold_delete].index
    print(f"\nColonnes supprimées (trop de NaN > {nan_threshold_delete*100}%): {list(cols_to_delete)}")
    df = df.drop(columns=cols_to_delete)
    
    for col in df.columns:
        missing = df[col].isnull().sum()
        if missing > 0:
            if df[col].dtype == 'object':
                if nan_percent[col] > nan_threshold_impute:
                    print(f"Colonne '{col}' : Imputation avec 'Manquant' (catégorielle)")
                    df[col] = df[col].fillna("Manquant")
                else:
                    print(f"Colonne '{col}' : Imputation avec la valeur la plus fréquente (mode)")
                    df[col] = df[col].fillna(df[col].mode()[0])
            else:
                if nan_percent[col] > nan_threshold_impute:
                    print(f"Colonne '{col}' : Imputation avec la médiane (numérique)")
                    df[col] = df[col].fillna(df[col].median())
                else:
                    print(f"Colonne '{col}' : Imputation avec la moyenne (numérique)")
                    df[col] = df[col].fillna(df[col].mean())
    
    print("\nTraitement des NaN terminé.")
    return df

In [57]:
def preprocess_data(data1, data2, data3, data4, common_key, target_column):
    print("Chargement et fusion des données...")
    X, y = load_and_process_data(data1, data2, data3, data4, common_key, target_column)

    print("\nTraitement des valeurs NaN...")
    X = auto_handle_nan(X)

    print("\nAnalyse des corrélations avec la cible :")
    sorted_corr = correlation_matrix(X, y)
    for col, corr in sorted_corr:
        print(f"{col}: {corr:.2f}")

    print("\nAnalyse des variables catégorielles :")
    cat_analysis = categorical_analysis(X, y)
    for col, means in cat_analysis.items():
        print(f"\nColonne : {col}")
        print(means)
    
    print("\nFiltrage des variables à faible variance...")
    X_filtered = low_variance_filter(X)
    print(f"Colonnes restantes après filtrage : {X_filtered.columns.tolist()}")

    print("\nRésumé des colonnes importantes pour la prédiction :")
    print(f"Nombre de colonnes finales : {len(X_filtered.columns)}")
    print(X_filtered.head())
    data = X_filtered
    
    print("Nombre de doublons avant suppression :", data.duplicated().sum())
    print("Lignes dupliquées :")
    print(data[data.duplicated()])

    data = data.drop_duplicates()
    print("Nombre de doublons après suppression :", data.duplicated().sum())
    return(data)

data = preprocess_data("data/caract-2023.csv", "data/lieux-2023.csv", "data/usagers-2023.csv", "data/vehicules-2023.csv", "Num_Acc", "agg")
data

Chargement et fusion des données...
Colonnes disponibles après fusion : ['Num_Acc', 'jour', 'mois', 'an', 'hrmn', 'lum', 'dep', 'com', 'agg', 'int', 'atm', 'col', 'adr', 'lat', 'long', 'catr', 'voie', 'v1', 'v2', 'circ', 'nbv', 'vosp', 'prof', 'pr', 'pr1', 'plan', 'lartpc', 'larrout', 'surf', 'infra', 'situ', 'vma', 'id_usager', 'id_vehicule_x', 'num_veh_x', 'place', 'catu', 'grav', 'sexe', 'an_nais', 'trajet', 'secu1', 'secu2', 'secu3', 'locp', 'actp', 'etatp', 'id_vehicule_y', 'num_veh_y', 'senc', 'catv', 'obs', 'obsm', 'choc', 'manv', 'motor', 'occutc']

Traitement des valeurs NaN...
Analyse des NaN dans le dataset...

Pourcentage de valeurs manquantes par colonne :
jour             0.000000
mois             0.000000
hrmn             0.000000
lum              0.000000
dep              0.000000
com              0.000000
int              0.000000
atm              0.000000
col              0.000000
adr              0.025318
lat              0.000000
long             0.000000
catr             0.000000
voie             0.163079
v1               0.000000
v2               0.917053
circ             0.000000
nbv              0.000000
vosp             0.000000
prof             0.000000
pr               0.000000
pr1              0.000000
plan             0.000000
lartpc           0.999483
larrout          0.000000
surf             0.000000
infra            0.000000
situ             0.000000
vma              0.000000
id_usager        0.000000
id_vehicule_x    0.000000
num_veh_x        0.000000
place            0.000000
catu             0.000000
grav             0.000000
sexe             0.000000
an_nais          0.020547
trajet           0.000000
secu1            0.000000
secu2            0.000000
secu3            0.000000
locp             0.000000
actp             0.000000
etatp            0.000000
id_vehicule_y    0.000000
num_veh_y        0.000000
senc             0.000000
catv             0.000000
obs              0.000000
obsm             0.000000
choc             0.000000
manv             0.000000
motor            0.000000
occutc           0.987176
dtype: float64

Colonnes supprimées (trop de NaN > 50.0%): ['v2', 'lartpc', 'occutc']
Colonne 'adr' : Imputation avec la valeur la plus fréquente (mode)
Colonne 'voie' : Imputation avec 'Manquant' (catégorielle)
Colonne 'an_nais' : Imputation avec la moyenne (numérique)

Traitement des NaN terminé.

Analyse des corrélations avec la cible :
vma: -0.65
catr: 0.52
int: 0.21
vosp: 0.18
v1: 0.18
plan: -0.15
motor: 0.14
circ: -0.14
lum: 0.14
etatp: 0.13
secu1: 0.11
secu2: 0.11
catv: 0.10
prof: -0.10
obs: -0.08
manv: 0.08
locp: -0.08
senc: 0.07
infra: 0.06
situ: 0.05
secu3: -0.05
surf: -0.04
sexe: -0.04
choc: -0.04
obsm: 0.04
trajet: -0.04
place: 0.03
an_nais: 0.03
atm: -0.02
mois: -0.01
grav: 0.01
catu: 0.01
col: -0.01
jour: 0.00

Analyse des variables catégorielles :

Colonne : hrmn
hrmn
00:00    1.598592
00:01    1.971154
00:02    1.976190
00:03    1.200000
00:04    1.657143
           ...
23:55    1.544061
23:56    1.040000
23:57    1.941176
23:58    1.800000
23:59    1.750000
Name: target, Length: 1409, dtype: float64

Colonne : dep
dep
01     1.399918
02     1.422018
03     1.421053
04     1.482234
05     1.481881
         ...
977    1.913043
978    1.826087
986    1.866667
987    1.452970
988    1.565568
Name: target, Length: 107, dtype: float64

Colonne : com
com
01001    2.000000
01004    1.888889
01005    2.000000
01010    1.000000
01014    2.000000
           ...
98829    1.000000
98830    1.000000
98831    1.100000
98832    1.000000
98833    1.000000
Name: target, Length: 11311, dtype: float64

Colonne : adr
adr
  Av. du Maréchal de Lattre de Tassigny      2.0
 -                                           1.0
 A1                                          1.0
 A115                                        1.0
 A15                                         1.0
                                            ...
À la Bitarelle                               1.0
ÉCHANGEUR DES MARTYRS                        1.0
Échangeur A40 (Embranchement d'autoroute)    1.0
Épreville-près-le-Neubourg                   1.0
échangereur D55/D8II                         1.0
Name: target, Length: 29080, dtype: float64

Colonne : lat
lat
 -12,72520200    1.0
 -12,72920300    1.0
 -12,73474600    1.0
 -12,73489730    1.0
 -12,73595800    2.0
                ...
51,04262000      2.0
51,04369200      2.0
51,04407000      2.0
51,04582000      2.0
51,04749000      2.0
Name: target, Length: 52905, dtype: float64

Colonne : long
long
 -0,00057578    1.0
 -0,00161500    2.0
 -0,00180200    1.0
 -0,00350800    2.0
 -0,00395800    1.0
               ...
9,53882600      1.0
9,54555300      1.0
9,54677600      1.0
9,54687000      1.0
9,54721000      1.0
Name: target, Length: 53148, dtype: float64

Colonne : voie
voie
 -                       1.583333
 --                      1.714286
 ---                     2.000000
 ----                    2.000000
 AV JEAN JAURES          2.000000
                           ...
x                        1.636364
xxxxx                    2.000000
z                        2.000000
ÉCHANGEUR DES MARTYRS    1.000000
ÉTAUX(PLACE DES)         2.000000
Name: target, Length: 20064, dtype: float64

Colonne : nbv
nbv
 -1             1.744107
#VALEURMULTI    2.000000
0               1.750769
1               1.854276
10              1.155963
11              1.500000
12              1.588235
2               1.594936
3               1.453623
4               1.633811
5               1.657966
6               1.344528
7               1.503663
8               1.257012
9               1.201550
Name: target, dtype: float64

Colonne : pr
pr
 -1      1.866907
0        1.856539
1        1.601282
10       1.256752
100      1.460674
           ...
98       1.166667
99       1.507937
990      2.000000
999      1.813953
9 999    2.000000
Name: target, Length: 446, dtype: float64

Colonne : pr1
pr1
 -1      1.861553
 -110    1.600000
 -140    1.000000
 -250    1.000000
 -255    2.000000
           ...
999      1.148649
9 203    2.000000
9 691    1.000000
9 890    1.000000
9 903    2.000000
Name: target, Length: 1363, dtype: float64

Colonne : larrout
larrout
 -1     1.752469
0       1.548106
1       1.857143
10      1.047984
10,5    1.142245
          ...
8,85    2.000000
9       1.580866
9,3     2.000000
9,35    2.000000
9,5     1.162162
Name: target, Length: 107, dtype: float64

Colonne : id_usager
id_usager
203 720 717    2.0
203 720 718    2.0
203 720 719    2.0
203 720 720    1.0
203 720 721    1.0
              ...
203 851 180    2.0
203 851 181    2.0
203 851 182    2.0
203 851 183    2.0
203 851 184    2.0
Name: target, Length: 125789, dtype: float64

Colonne : id_vehicule_x
id_vehicule_x
155 583 344    2.0
155 583 345    2.0
155 583 346    1.0
155 583 347    1.0
155 583 348    2.0
              ...
155 680 553    2.0
155 680 554    2.0
155 680 555    2.0
155 680 556    2.0
155 680 557    2.0
Name: target, Length: 93545, dtype: float64

Colonne : num_veh_x
num_veh_x
A01     1.650282
AA01    2.000000
AB01    2.000000
AC01    2.000000
B01     1.623131
BA01    2.000000
BB01    2.000000
C01     1.358601
CA01    1.714286
CB01    2.000000
D01     1.264360
DA01    2.000000
E01     1.253799
EA01    2.000000
EB01    1.000000
F01     1.307856
FA01    2.000000
G01     1.191964
H01     1.123077
I01     1.000000
J01     1.000000
K01     1.000000
KA01    2.000000
L01     1.000000
LB01    2.000000
M01     1.133333
MA01    1.750000
MB01    2.000000
N01     2.000000
NA01    2.000000
OA01    2.000000
P01     1.875000
PA01    2.000000
RA01    2.000000
RB01    2.000000
T01     1.957447
TB01    2.000000
TC01    2.000000
U01     1.400000
V01     1.333333
VA01    2.000000
VB01    2.000000
X01     1.732143
Y01     1.972000
Z01     1.857143
_01     2.000000
Name: target, dtype: float64

Colonne : actp
actp
 -1    1.771222
0      1.376468
1      1.780401
2      1.846682
3      1.967829
4      1.872881
5      1.976077
6      1.787879
7      2.000000
8      2.000000
9      1.784408
A      1.703297
B      1.811861
Name: target, dtype: float64

Colonne : id_vehicule_y
id_vehicule_y
155 583 344    2.0
155 583 345    2.0
155 583 346    1.0
155 583 347    1.0
155 583 348    2.0
              ...
155 680 553    2.0
155 680 554    2.0
155 680 555    2.0
155 680 556    2.0
155 680 557    2.0
Name: target, Length: 93585, dtype: float64

Colonne : num_veh_y
num_veh_y
A01     1.648253
AA01    2.000000
AB01    2.000000
AC01    2.000000
B01     1.626598
BA01    2.000000
BB01    2.000000
C01     1.358996
CA01    1.714286
CB01    2.000000
D01     1.271548
DA01    2.000000
E01     1.257384
EA01    2.000000
EB01    1.000000
F01     1.241090
FA01    2.000000
G01     1.230769
H01     1.136364
I01     1.000000
J01     1.000000
K01     1.000000
KA01    2.000000
L01     1.000000
LB01    2.000000
M01     1.121212
MA01    1.714286
MB01    2.000000
N01     2.000000
NA01    2.000000
OA01    2.000000
P01     1.875000
PA01    2.000000
RA01    2.000000
RB01    2.000000
T01     1.962963
TB01    2.000000
TC01    2.000000
U01     1.222222
V01     1.333333
VA01    2.000000
VB01    2.000000
X01     1.741935
Y01     1.972332
Z01     1.845258
_01     2.000000
Name: target, dtype: float64

Filtrage des variables à faible variance...
Colonnes restantes après filtrage : ['jour', 'mois', 'lum', 'int', 'atm', 'col', 'catr', 'v1', 'circ', 'vosp', 'prof', 'plan', 'surf', 'infra', 'situ', 'vma', 'place', 'catu', 'grav', 'sexe', 'an_nais', 'trajet', 'secu1', 'secu2', 'secu3', 'locp', 'etatp', 'senc', 'catv', 'obs', 'obsm', 'choc', 'manv', 'motor']

Résumé des colonnes importantes pour la prédiction :
Nombre de colonnes finales : 34
   jour  mois  lum  int  atm  col  catr  v1  circ  vosp  ...  secu3  locp  \
0     7     5    1    4    2    7     4   0     1     0  ...     -1    -1
1     7     5    1    4    2    7     4   0     1     0  ...     -1    -1
2     7     5    5    1    3    6     3   0     2     2  ...     -1    -1
3     7     5    5    1    3    6     3   0     2     2  ...     -1     2
4     7     5    1    3    2    1     3   0     2     0  ...      0     0

   etatp  senc  catv  obs  obsm  choc  manv  motor
0     -1     1    30    0     0     5     1      1
1     -1     1    30    0     0     5     1      1
2     -1     2     7    0     1     1     1      1
3      1     2     7    0     1     1     1      1
4     -1     1     2    0     2     1    16      1

[5 rows x 34 columns]
Nombre de doublons avant suppression : 20811
Lignes dupliquées :
        jour  mois  lum  int  atm  col  catr  v1  circ  vosp  ...  secu3  \
1          7     5    1    4    2    7     4   0     1     0  ...     -1
8          7     5    1    3    2    1     3   0     2     0  ...      0
9          7     5    1    3    2    1     3   0     2     0  ...      0
10         7     5    1    3    2    1     3   0     2     0  ...      0
11         7     5    1    3    2    1     3   0     2     0  ...      0
...      ...   ...  ...  ...  ...  ...   ...  ..   ...   ...  ...    ...
309161     7     5    1    4    2    3     4   0     1     0  ...     -1
309182    13     7    1    2    1    3     4   0     1     2  ...     -1
309183    13     7    1    2    1    3     4   0     1     2  ...     -1
309184    13     7    1    2    1    3     4   0     1     2  ...     -1
309185    13     7    1    2    1    3     4   0     1     2  ...     -1

        locp  etatp  senc  catv  obs  obsm  choc  manv  motor
1         -1     -1     1    30    0     0     5     1      1
8          0     -1     1     2    0     2     1    16      1
9          0     -1     2     7    0     2     2    15      1
10         0     -1     1     2    0     2     1    16      1
11         0     -1     2     7    0     2     2    15      1
...      ...    ...   ...   ...  ...   ...   ...   ...    ...
309161    -1     -1     3    32    0     2     1    17      1
309182    -1     -1     1     7    0     2     3     1      1
309183    -1     -1     1    50    0     2     7     1      3
309184    -1     -1     1     7    0     2     3     1      1
309185    -1     -1     1    50    0     2     7     1      3

[20811 rows x 34 columns]
Nombre de doublons après suppression : 0

,jour,mois,lum,int,atm,col,catr,v1,circ,vosp,...,secu3,locp,etatp,senc,catv,obs,obsm,choc,manv,motor
0,7,5,1,4,2,7,4,0,1,0,...,-1,-1,-1,1,30,0,0,5,1,1
2,7,5,5,1,3,6,3,0,2,2,...,-1,-1,-1,2,7,0,1,1,1,1
3,7,5,5,1,3,6,3,0,2,2,...,-1,2,1,2,7,0,1,1,1,1
4,7,5,1,3,2,1,3,0,2,0,...,0,0,-1,1,2,0,2,1,16,1
5,7,5,1,3,2,1,3,0,2,0,...,0,0,-1,2,7,0,2,2,15,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309336,20,10,1,1,6,3,4,0,2,2,...,-1,-1,-1,2,50,14,2,1,1,3
309337,20,10,1,1,6,3,4,0,2,2,...,-1,-1,-1,2,7,0,2,7,22,1
309338,20,10,1,1,6,3,4,0,2,2,...,-1,-1,-1,2,50,14,2,1,1,3
309339,20,10,1,1,6,3,4,0,2,2,...,-1,-1,-1,2,7,0,2,7,22,1
309340,20,10,1,1,6,3,4,0,2,2,...,-1,-1,-1,2,50,14,2,1,1,3