In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [75]:
import pandas as pd
import numpy as np

def load_and_process_data(data1, data2, data3, data4, common_key, target_column):
    """Charge, fusionne et nettoie les fichiers CSV."""
    caract = pd.read_csv(data1, sep=";", low_memory=False)
    lieux = pd.read_csv(data2, sep=";", low_memory=False)
    usagers = pd.read_csv(data3, sep=";", low_memory=False)
    vehicules = pd.read_csv(data4, sep=";", low_memory=False)
    
    merged_df = caract.merge(lieux, on=common_key, how="inner") \
                      .merge(usagers, on=common_key, how="inner") \
                      .merge(vehicules, on=common_key, how="inner")
    
    print(f"Colonnes disponibles après fusion : {merged_df.columns.tolist()}")

    merged_df = merged_df.dropna(axis=1, how='all')
    merged_df = merged_df.loc[:, merged_df.nunique() > 1]
    
    y = merged_df[target_column]
    X = merged_df.drop(columns=[target_column, common_key])
    return X, y

def correlation_matrix(X, y, threshold=0.1):
    """Filtre les colonnes numériques basées sur leur corrélation avec la cible."""
    correlations = {}
    for col in X.select_dtypes(include=[np.number]).columns:
        corr = np.corrcoef(X[col], y)[0, 1]
        correlations[col] = corr
    selected = [col for col, corr in correlations.items() if abs(corr) > threshold]
    print(f"Colonnes numériques retenues (corrélation > {threshold}): {selected}")
    return selected

def categorical_analysis(X, y, threshold=0.2):
    """Filtre les colonnes catégorielles en se basant sur la variance des moyennes."""
    X_with_target = X.copy()
    X_with_target['target'] = y

    selected = []
    for col in X.select_dtypes(include='object').columns:
        means = X_with_target.groupby(col)['target'].mean()
        if means.var() > threshold:
            selected.append(col)
    print(f"Colonnes catégorielles retenues (variance > {threshold}): {selected}")
    return selected

def low_variance_filter(X, threshold=0.01):
    """Filtre les colonnes numériques avec une faible variance."""
    X_numeric = X.select_dtypes(include=[np.number])
    variances = X_numeric.var()
    selected = variances[variances > threshold].index.tolist()
    print(f"Colonnes numériques retenues (variance > {threshold}): {selected}")
    return selected


def auto_handle_nan(df, nan_threshold_delete=0.5, nan_threshold_impute=0.1):
    """
    Traite automatiquement les valeurs NaN dans un dataset.
    - Supprime les colonnes avec trop de NaN.
    - Impute (remplace) les NaN avec des stratégies adaptées :
      - Moyenne pour colonnes numériques.
      - Mode ou "Inconnu" pour colonnes catégorielles.
    """
    print("Analyse des NaN dans le dataset...\n")
    
    nan_percent = df.isnull().mean()
    print("Pourcentage de valeurs manquantes par colonne :")
    print(nan_percent)
    
    cols_to_delete = nan_percent[nan_percent > nan_threshold_delete].index
    print(f"\nColonnes supprimées (trop de NaN > {nan_threshold_delete*100}%): {list(cols_to_delete)}")
    df = df.drop(columns=cols_to_delete)
    
    for col in df.columns:
        missing = df[col].isnull().sum()
        if missing > 0:
            if df[col].dtype == 'object':
                if nan_percent[col] > nan_threshold_impute:
                    print(f"Colonne '{col}' : Imputation avec 'Manquant' (catégorielle)")
                    df[col] = df[col].fillna("Manquant")
                else:
                    print(f"Colonne '{col}' : Imputation avec la valeur la plus fréquente (mode)")
                    df[col] = df[col].fillna(df[col].mode()[0])
            else:
                if nan_percent[col] > nan_threshold_impute:
                    print(f"Colonne '{col}' : Imputation avec la médiane (numérique)")
                    df[col] = df[col].fillna(df[col].median())
                else:
                    print(f"Colonne '{col}' : Imputation avec la moyenne (numérique)")
                    df[col] = df[col].fillna(df[col].mean())
    
    print("\nTraitement des NaN terminé.")
    return df

In [86]:
def preprocess_data(data1, data2, data3, data4, common_key, target_column):
    print("Chargement et fusion des données...")
    X, y = load_and_process_data(data1, data2, data3, data4, common_key, target_column)

    print("\nSuppression des doublons...")
    print("Nombre de doublons avant suppression :", X.duplicated().sum())
    X = X.drop_duplicates()
    print("Nombre de doublons après suppression :", X.duplicated().sum())

    print("\nTraitement des valeurs NaN...")
    X = auto_handle_nan(X)

    print("\nSélection des colonnes numériques importantes...")
    numeric_cols_corr = correlation_matrix(X, y, threshold=0.1)
    numeric_cols_var = low_variance_filter(X, threshold=0.01)

    print("\nSélection des colonnes catégorielles importantes...")
    categorical_cols = categorical_analysis(X, y, threshold=0.24)

    selected_columns = list(set(numeric_cols_var + categorical_cols))
    print(f"\nColonnes finales sélectionnées : {selected_columns}")

    X_filtered = X[selected_columns]
    final_data = pd.concat([X_filtered, y], axis=1)

    print("\nRésumé des colonnes importantes pour la prédiction :")
    print(f"Nombre de colonnes finales : {len(final_data.columns)}")
    print(final_data.head())
    return final_data


data = preprocess_data("data/caract-2023.csv", "data/lieux-2023.csv", "data/usagers-2023.csv", "data/vehicules-2023.csv", "Num_Acc", "agg")
data

Chargement et fusion des données...
Colonnes disponibles après fusion : ['Num_Acc', 'jour', 'mois', 'an', 'hrmn', 'lum', 'dep', 'com', 'agg', 'int', 'atm', 'col', 'adr', 'lat', 'long', 'catr', 'voie', 'v1', 'v2', 'circ', 'nbv', 'vosp', 'prof', 'pr', 'pr1', 'plan', 'lartpc', 'larrout', 'surf', 'infra', 'situ', 'vma', 'id_usager', 'id_vehicule_x', 'num_veh_x', 'place', 'catu', 'grav', 'sexe', 'an_nais', 'trajet', 'secu1', 'secu2', 'secu3', 'locp', 'actp', 'etatp', 'id_vehicule_y', 'num_veh_y', 'senc', 'catv', 'obs', 'obsm', 'choc', 'manv', 'motor', 'occutc']

Suppression des doublons...
Nombre de doublons avant suppression : 0
Nombre de doublons après suppression : 0

Traitement des valeurs NaN...
Analyse des NaN dans le dataset...

Pourcentage de valeurs manquantes par colonne :
jour             0.000000
mois             0.000000
hrmn             0.000000
lum              0.000000
dep              0.000000
com              0.000000
int              0.000000
atm              0.000000
col              0.000000
adr              0.025318
lat              0.000000
long             0.000000
catr             0.000000
voie             0.163079
v1               0.000000
v2               0.917053
circ             0.000000
nbv              0.000000
vosp             0.000000
prof             0.000000
pr               0.000000
pr1              0.000000
plan             0.000000
lartpc           0.999483
larrout          0.000000
surf             0.000000
infra            0.000000
situ             0.000000
vma              0.000000
id_usager        0.000000
id_vehicule_x    0.000000
num_veh_x        0.000000
place            0.000000
catu             0.000000
grav             0.000000
sexe             0.000000
an_nais          0.020547
trajet           0.000000
secu1            0.000000
secu2            0.000000
secu3            0.000000
locp             0.000000
actp             0.000000
etatp            0.000000
id_vehicule_y    0.000000
num_veh_y        0.000000
senc             0.000000
catv             0.000000
obs              0.000000
obsm             0.000000
choc             0.000000
manv             0.000000
motor            0.000000
occutc           0.987176
dtype: float64

Colonnes supprimées (trop de NaN > 50.0%): ['v2', 'lartpc', 'occutc']
Colonne 'adr' : Imputation avec la valeur la plus fréquente (mode)
Colonne 'voie' : Imputation avec 'Manquant' (catégorielle)
Colonne 'an_nais' : Imputation avec la moyenne (numérique)

Traitement des NaN terminé.

Sélection des colonnes numériques importantes...
Colonnes numériques retenues (corrélation > 0.1): ['lum', 'int', 'catr', 'v1', 'circ', 'vosp', 'plan', 'vma', 'secu1', 'secu2', 'etatp', 'motor']
Colonnes numériques retenues (variance > 0.01): ['jour', 'mois', 'lum', 'int', 'atm', 'col', 'catr', 'v1', 'circ', 'vosp', 'prof', 'plan', 'surf', 'infra', 'situ', 'vma', 'place', 'catu', 'grav', 'sexe', 'an_nais', 'trajet', 'secu1', 'secu2', 'secu3', 'locp', 'etatp', 'senc', 'catv', 'obs', 'obsm', 'choc', 'manv', 'motor']

Sélection des colonnes catégorielles importantes...
Colonnes catégorielles retenues (variance > 0.24): []

Colonnes finales sélectionnées : ['secu3', 'mois', 'prof', 'an_nais', 'sexe', 'atm', 'catr', 'infra', 'situ', 'locp', 'senc', 'choc', 'motor', 'catu', 'etatp', 'catv', 'obs', 'place', 'secu1', 'grav', 'int', 'col', 'vosp', 'v1', 'surf', 'manv', 'jour', 'plan', 'vma', 'circ', 'secu2', 'trajet', 'lum', 'obsm']

Résumé des colonnes importantes pour la prédiction :
Nombre de colonnes finales : 35
   secu3  mois  prof  an_nais  sexe  atm  catr  infra  situ  locp  ...  manv  \
0     -1     5     1   1978.0     1    2     4      0     1    -1  ...     1
1     -1     5     1   1978.0     1    2     4      0     1    -1  ...     1
2     -1     5     1   1997.0     2    3     3      0     1    -1  ...     1
3     -1     5     1   1997.0     1    3     3      0     1     2  ...     1
4      0     5     1   1987.0     1    2     3      5     1     0  ...    16

   jour  plan  vma  circ  secu2  trajet  lum  obsm  agg
0     7     1   30     1      0       5    1     0    2
1     7     1   30     1      0       5    1     0    2
2     7     1   50     2      0       9    5     1    2
3     7     1   50     2     -1       9    5     1    2
4     7     1   50     2      6       0    1     2    2

[5 rows x 35 columns]

,secu3,mois,prof,an_nais,sexe,atm,catr,infra,situ,locp,...,manv,jour,plan,vma,circ,secu2,trajet,lum,obsm,agg
0,-1,5,1,1978.0,1,2,4,0,1,-1,...,1,7,1,30,1,0,5,1,0,2
1,-1,5,1,1978.0,1,2,4,0,1,-1,...,1,7,1,30,1,0,5,1,0,2
2,-1,5,1,1997.0,2,3,3,0,1,-1,...,1,7,1,50,2,0,9,5,1,2
3,-1,5,1,1997.0,1,3,3,0,1,2,...,1,7,1,50,2,-1,9,5,1,2
4,0,5,1,1987.0,1,2,3,5,1,0,...,16,7,1,50,2,6,0,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309336,-1,10,1,2003.0,2,6,4,0,5,-1,...,1,20,1,30,2,-1,2,1,2,2
309337,-1,10,1,2002.0,2,6,4,0,5,-1,...,22,20,1,30,2,-1,1,1,2,2
309338,-1,10,1,2002.0,2,6,4,0,5,-1,...,1,20,1,30,2,-1,1,1,2,2
309339,-1,10,1,1995.0,2,6,4,0,5,-1,...,22,20,1,30,2,-1,1,1,2,2
309340,-1,10,1,1995.0,2,6,4,0,5,-1,...,1,20,1,30,2,-1,1,1,2,2